# Игнорирование файлов компиляции
*.obj
*.exe
*.layout
*.depend

# Игнорирование временных файлов редакторов и операционной системы
*.log
*.tmp
*.bak
*.swp

# Игнорирование каталогов сборки
/bin/
/build/
/out/

# Игнорирование файлов Code::Blocks
*.layout
*.depend